# ************************************
# Default template in module puppetlabs-apache
# Managed by Puppet
# ************************************

NameVirtualHost <%= vhost_name %>:<%= port %>
<VirtualHost <%= vhost_name %>:<%= port %>>
  ServerName <%= srvname %>
<% if serveradmin %>
  ServerAdmin <%= serveradmin %>
<% end %>
<% if serveraliases.is_a? Array -%>
<% serveraliases.each do |name| -%><%= "  ServerAlias #{name}\n" %><% end -%>
<% elsif serveraliases != '' -%>
<%= "  ServerAlias #{serveraliases}" %>
<% end -%>
<% if custom_array.is_a? Array -%>
<% custom_array.each do |config| -%><%= "  #{config}\n" %><% end -%>
<% end -%>
  DocumentRoot <%= docroot %>
  <Directory <%= docroot %>>
    Options <%= options %>
    AllowOverride <%= Array(override).join(' ') %>
    Order allow,deny
    allow from all
  </Directory>
  ErrorLog <%= logroot %>/<%= name %>_error.log
  LogLevel warn
<% if access_log -%>
  CustomLog <%= logroot %>/<%= name %>_access.log combined
<% end -%>
  ServerSignature Off
</VirtualHost>

